* {
    margin: 0;
    padding: 0;
}

#wrapper {
    height: 500px;
    width: 500px;
    background-color: grey;
    margin-left: 100px;
}

#shapes{
    position: relative;
    left: 200px;
}

#square {
	width: 100px;
	height: 100px;
	background: green;
    margin-bottom:10px;
}



#circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin-bottom:10px;
}



#arrow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 100px solid black;
  margin-bottom:10px;
}

#pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid blue;
  border-left: 60px solid blue;
  border-bottom: 60px solid blue;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-bottom:10px;
}
